<main class="container">
{{#blog}}
<section class="card">
<h4>{{firstName}} {{lastName}}</h4>
<h6>{{cohortID}}</h6>
<p>{{post}}</p>
</section>



    <form class="form container col s12" action="/blogs/{{id}}?_method=put" method="POST" onsubmit="return validateForm()">
       <div class="row"> 
        <div class="input-field col s4">
            <label class="actve" name="first_name">First Name</label>
            <br>
            <input id="first_name" type="text" class="validate" name="firstName">  
        </div>
        <div class="input-field col s4">
            <label for="last_name">Last Name</label>
            <br>
            <input id="last_name" type="text" class="validate" name="lastName">  
        </div>
       
        <div class="input-field col s4">
            <label for="cohortID">Cohort ID</label>
            <br>
            <input id="cohortID" type="text" class="validate" name="cohortID">
        </div> 
        </div>
        <div class="row">
            <div class="input-field col s12">
             <label for="textarea1">Post</label>
              <br>
             <textarea id="post" class="materialize-textarea" name="post"></textarea>        
            </div>
         </div>
        <div class="container center">
            <button class="btn waves-effect waves-light" type="submit">Update
            </button>
        </div>
    </form>
{{/blog}}
</main>